# Package Manager
bower_components/
node_modules/
npm-debug.log*
vendor/
package-lock.json
yarn-error.log
yarn.lock

# Development
.turbo/
!.turbo/config.json

# Build artifacts
bin/
dist/

# Test
test-results/
playwright-report/

# AI
!.claude/settings.json

# Project specific
*.exe
*.nsi
# Added by code-review-graph
.code-review-graph/
